#form-group-info{
    background-color: #db4439;
    color: #f1e7dd;
    padding: 1rem;
    align-items: left;
    border-radius: 0;
    /* border-color: transparent; */
    border-bottom: 2px solid #f1e7dd;
    border-top: 2px solid #f1e7dd;
}
#form-group-search , #btn{
    text-align: center;
}
#form-group-search{
    background-color: #db4439;
    color: #f1e7dd;
    padding: 1rem;
    font-family: Impact, fantasy,  sans-serif;
    border-radius: 0;
    border-color: transparent;
}
#card-title{
    text-align: left;
    font-family: Impact, fantasy,  sans-serif;
}
#card-text{
    text-align: left;

}

#form-group{
    background-color: #db4439;
    color: #f1e7dd;
    padding: 1rem;
    align-items: center;
    font-family: Impact, fantasy,  sans-serif;
    border-radius: 0;
    border-color: transparent;
}
#form-group h1 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 2.5rem;
    font-weight: 500;
}

.form-label{
    font-size: 1rem !important;
    margin-bottom: 0 !important;
}
#search{
    font-size: 2rem;
    color: #db4439 !important;
    background-color: #f1e7dd !important;
    letter-spacing: 1px !important;
}
.form-control{
    background-color: #db4439 !important;
    color: #f1e7dd !important;
    letter-spacing: 1px !important;
}

.form-control:focus{
    border-color: #f1e7dd !important;
    box-shadow: 0 0 0 0.05rem #f1e7dd !important;
  }

  @media screen and (min-width: 1450px){
    #form-group h1 {
        font-size: 4rem;
    }
    .form-label{
        font-size: 2rem !important;
        margin-bottom: 5px !important;
    }
    .form-control{
        font-size: 2rem !important;

    }
  }