#form-group-info{
    background-color: #f1e7dd;
    color: #6c757d;
    padding: 1rem;
    align-items: left;
    border-radius: 0;
    /* border-color: transparent; */
    border-bottom: 2px solid #db4439;
    border-top: 2px solid #db4439;
}
#form-group-search , #form-group-company, #btn{
    text-align: center;
}
#form-group-search{
    background-color: #db4439;
    color: #f1e7dd;
    padding: 1rem;
    font-family: Impact, fantasy,  sans-serif;
    border-radius: 0;
    border-color: transparent;
}
#card-title{
    text-align: left;
    font-family: Impact, fantasy,  sans-serif;
}
#card-text{
    text-align: left;

}

#form-group{
    background-color: #db4439;
    color: #f1e7dd;
    padding: 1rem;
    align-items: center;
    font-family: Impact, fantasy,  sans-serif;
    border-radius: 0;
    border-color: transparent;
}
#form-group h1 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 4rem;
    font-weight: 500;
}

#form-group-company{
    background-color: #f1e7dd;
    ;
    color: #db4439;
    padding: 1rem;
    font-family: Impact, fantasy,  sans-serif;
    border-radius: 0;
    border-color: transparent;
}

.form-label{
    font-size: 2rem !important;
    margin-bottom: 5px !important;
}
#search{
    font-size: 2rem;
    color: #db4439 !important;
    background-color: #f1e7dd !important;
    letter-spacing: 1px !important;
    max-width:50rem;
    margin: auto;
}
.form-control{
    background-color: #db4439 !important;
    color: #f1e7dd !important;
    letter-spacing: 1px !important;
    font-size: 2rem !important;
}

.form-control:focus{
    border-color: #f1e7dd !important;
    box-shadow: 0 0 0 0.05rem #f1e7dd !important;
  }

.form-grouping{
    display: block
}

