html {
    background-color: #db4439;
    /* color: #f1e7dd; */
    overflow: hidden;
  
}
.hero{
    background-color: #db4439;
    height: 90vh;
    padding: 40px 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f1e7dd;

}
.hero-left{
    width: 100%;
}
.hero-left h1{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Impact, fantasy,  sans-serif;
    font-size: 5rem;
    font-weight: 900;
}
.hero-left p{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Impact, fantasy,  sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;;
}

.hero-right{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.faded {
    /* position: absolute;
    bottom: 0;
    right: 0; */
    margin-top: 2.5rem;
    transform: rotate(0.03turn);

    border: #db4439 2px solid;
    /* width: 75%; */
    /* background-color: #FFFFFF; */
    box-shadow: inset 0px 5px 30px 30px #db4439;
    background-image: url('../images/pexels-vlad-chețan-2923156.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 10px;
    background-clip: padding-box;
  }

  @media screen and (min-width: 1450px){
    .hero-left, .hero-right{
        width: 50%;
    }
    .faded{
        height: 900px;
        margin-top: 7rem;
        margin-left: 7rem;
    }
    .hero{
        padding:  0;
    }
    .hero-left h1{
        line-height: 18rem;
        font-size: 18rem;
        margin-bottom: 3rem;

    }
    .hero-left p{
        font-size: 3rem;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1450px){
    .hero-left, .hero-right{
        width: 50%;
    }
    .faded{
        height: 700px;
        margin-left: 5rem;
    }
    .hero{
        padding:  0;
    }
    .hero-left h1{
        line-height: 10rem;
        font-size: 10rem;
        margin-bottom: 3rem;

    }
    .hero-left p{
        font-size: 2rem;
    }
  }