nav {
  background-color:#db4439;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  color: #f1e7dd;
}

.nav-item {
  width: 100px;
  text-align: center;
}

nav a {
  color: #f1e7dd;
  text-decoration: none;
  font-size: 1.25rem;;
}

nav a.active {
  color: #f1e7dd;
  font-weight: bold;
  /* border-bottom: 5px dotted; */
  box-sizing: border-box;
}

nav a.active:hover {
  color: #f1e7dd !important;
}

nav a:hover {
  text-decoration: none;
  color: #f1e7dd;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  font-weight: bold;
}

@media screen and (min-width: 750px){
  .nav-item {
    width: 100px;
    text-align: center;
  }
}