#btn {
    background-color: #db4439;
    border: #f1e7dd 2px solid;
    /* width: 100%; */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Impact, fantasy,  sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    color: #f1e7dd;
}
#btn:hover {
    background-color: #f1e7dd;
    color: #db4439;
}

@media screen and (min-width: 800px){
    #btn {
        margin-bottom: 2rem;
    }
}
